In [126]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import sklearn.metrics
import h2o
from h2o.automl import H2OAutoML
import xgboost as xgb
import seaborn as sns
import sweetviz as sv
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [127]:
data=pd.read_csv("dataset.csv")
data2=pd.read_csv("dataset.csv")

In [128]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [129]:
le = LabelEncoder()
for col in data.columns:
    # Apply 'fit_transform' to the current column
    data[col] = le.fit_transform(data[col])

In [130]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,56,1,0,1,1,0,0,1,2,1
1,24,0,1,1,0,1,0,2,2,0
2,37,0,1,1,0,1,0,2,2,0
3,6,1,1,0,1,1,1,2,2,1
4,6,1,1,0,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0,1
345,101,1,0,1,0,24,1,0,0,1
346,101,1,0,1,0,24,1,0,0,1
347,101,1,0,1,0,25,0,0,0,1
348,101,1,0,1,0,25,0,0,0,1

In [131]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
Y=data['Disease']
X=data.drop(['Disease'],axis=1)

In [132]:
Y

0       56
1       24
2       37
3        6
4        6
      ...
344    101
345    101
346    101
347    101
348    101
Name: Disease, Length: 349, dtype: int32

In [133]:
adasyn = ADASYN(sampling_strategy='minority', random_state=42)
X_resampled, y_resampled = adasyn.fit_resample(X, Y)

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 1, n_neighbors = 6

In [134]:
Y.value_counts()

6      23
101    16
77     14
51     10
32     10
       ..
8       1
54      1
41      1
35      1
114     1
Name: Disease, Length: 116, dtype: int64

In [135]:
X.value_counts()

Fever  Cough  Fatigue  Difficulty Breathing  Age  Gender  Blood Pressure  Cholesterol Level  Outcome Variable
0      0      1        0                     10   0       0               0                  1                   4
1      0      0        0                     7    1       0               0                  1                   4
0      0      1        0                     13   1       2               2                  0                   4
                                             21   0       0               0                  1                   3
                                             13   0       0               0                  1                   3
                                                                                                                ..
       1      1        0                     13   1       0               2                  0                   1
                                                          2               0                  1                   1
                                             15   0       1               1                  0                   1
                                                          2               0                  1                   1
1      0      0        0                     1    0       2               2                  1                   1
Length: 251, dtype: int64

In [30]:
for col in data.columns:
      print(X[col].value_counts())

6      23
101    16
77     14
51     10
32     10
       ..
8       1
54      1
41      1
35      1
114     1
Name: Disease, Length: 116, dtype: int64
1    175
0    174
Name: Fever, dtype: int64
0    182
1    167
Name: Cough, dtype: int64
1    242
0    107
Name: Fatigue, dtype: int64
0    261
1     88
Name: Difficulty Breathing, dtype: int64
13    42
7     42
15    34
10    31
17    30
20    30
4     28
21    23
11    16
22    16
8     14
3     11
1      7
5      4
14     3
16     3
2      3
24     2
23     2
25     2
19     1
18     1
12     1
9      1
6      1
0      1
Name: Age, dtype: int64
0    176
1    173
Name: Gender, dtype: int64
0    167
2    164
1     18
Name: Blood Pressure, dtype: int64
0    166
2    149
1     34
Name: Cholesterol Level, dtype: int64

KeyError: 'Outcome Variable'

In [136]:
X_train, X_test, y_train, y_test=train_test_split(X, Y, test_size=0.2, random_state=42)

In [137]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_pred,y_test)

0.3

In [138]:
selector1 = SelectKBest(f_regression, k=5)
X_selected = selector1.fit_transform(X_train,y_train)
selected_features1 = selector1.get_support()

In [139]:
selected_features1

array([ True, False, False,  True,  True, False,  True, False,  True])

In [140]:
data.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable'],
      dtype='object')

In [45]:
data1=data.drop(['Disease',  'Cough', 'Fatigue',  'Age',
       'Gender'],axis=1)

In [46]:
data1

,Fever,Difficulty Breathing,Blood Pressure,Cholesterol Level,Outcome Variable
0,1,1,1,2,1
1,0,0,2,2,0
2,0,0,2,2,0
3,1,1,2,2,1
4,1,1,2,2,1
...,...,...,...,...,...
344,1,0,0,0,1
345,1,0,0,0,1
346,1,0,0,0,1
347,1,0,0,0,1
348,1,0,0,0,1

In [49]:
y=data1['Outcome Variable']
x=data1.drop(['Outcome Variable'],axis=1)
x_train, x_test, y1_train, y1_test=train_test_split(x, y, test_size=0.2, random_state=42)

In [50]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(x_train, y1_train)
y1_pred = model.predict(x_test)
accuracy_score(y1_pred,y1_test)

0.7142857142857143

In [53]:
data.corr()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
Disease,1.000000,-0.002448,0.010284,0.040286,-0.232577,0.157889,-0.055741,-0.099918,-0.054596,0.018229
Fever,-0.002448,1.000000,0.129183,-0.078882,0.262273,-0.032601,0.014352,-0.208880,0.087727,0.180721
Cough,0.010284,0.129183,1.000000,-0.171669,0.223115,-0.094450,0.002498,0.079136,0.061270,-0.011530
Fatigue,0.040286,-0.078882,-0.171669,1.000000,0.071267,0.097124,0.000499,-0.095209,-0.086536,0.137336
Difficulty Breathing,-0.232577,0.262273,0.223115,0.071267,1.000000,-0.206956,0.084175,0.039004,0.099356,0.093905
Age,0.157889,-0.032601,-0.094450,0.097124,-0.206956,1.000000,0.061227,-0.106156,-0.199279,0.038102
Gender,-0.055741,0.014352,0.002498,0.000499,0.084175,0.061227,1.000000,0.002867,-0.003461,-0.140144
Blood Pressure,-0.099918,-0.208880,0.079136,-0.095209,0.039004,-0.106156,0.002867,1.000000,0.309659,-0.143905
Cholesterol Level,-0.054596,0.087727,0.061270,-0.086536,0.099356,-0.199279,-0.003461,0.309659,1.000000,-0.272026
Outcome Variable,0.018229,0.180721,-0.011530,0.137336,0.093905,0.038102,-0.140144,-0.143905,-0.272026,1.000000

In [6]:
data2

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [7]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,56,1,0,1,1,0,0,1,2,1
1,24,0,1,1,0,1,0,2,2,0
2,37,0,1,1,0,1,0,2,2,0
3,6,1,1,0,1,1,1,2,2,1
4,6,1,1,0,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0,1
345,101,1,0,1,0,24,1,0,0,1
346,101,1,0,1,0,24,1,0,0,1
347,101,1,0,1,0,25,0,0,0,1
348,101,1,0,1,0,25,0,0,0,1

In [25]:
data2.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable'],
      dtype='object')

In [5]:
 columns_to_encode = [ 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing',
       'Gender', 'Blood Pressure', 'Cholesterol Level']
encoded_data = pd.get_dummies(data2[columns_to_encode])
data2 = data2.drop(columns_to_encode, axis=1)
 data2 = pd.concat([data, encoded_data], axis=1)

In [6]:
data2['Outcome Variable']

0      1
1      0
2      0
3      1
4      1
      ..
344    1
345    1
346    1
347    1
348    1
Name: Outcome Variable, Length: 349, dtype: int32

In [7]:
data2

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable,...,Difficulty Breathing_No,Difficulty Breathing_Yes,Gender_Female,Gender_Male,Blood Pressure_High,Blood Pressure_Low,Blood Pressure_Normal,Cholesterol Level_High,Cholesterol Level_Low,Cholesterol Level_Normal
0,56,1,0,1,1,0,0,1,2,1,...,0,1,1,0,0,1,0,0,0,1
1,24,0,1,1,0,1,0,2,2,0,...,1,0,1,0,0,0,1,0,0,1
2,37,0,1,1,0,1,0,2,2,0,...,1,0,1,0,0,0,1,0,0,1
3,6,1,1,0,1,1,1,2,2,1,...,0,1,0,1,0,0,1,0,0,1
4,6,1,1,0,1,1,1,2,2,1,...,0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0,1,...,1,0,1,0,1,0,0,1,0,0
345,101,1,0,1,0,24,1,0,0,1,...,1,0,0,1,1,0,0,1,0,0
346,101,1,0,1,0,24,1,0,0,1,...,1,0,0,1,1,0,0,1,0,0
347,101,1,0,1,0,25,0,0,0,1,...,1,0,1,0,1,0,0,1,0,0
348,101,1,0,1,0,25,0,0,0,1,...,1,0,1,0,1,0,0,1,0,0

In [95]:
y=data2['Outcome Variable']
x=data2.drop(['Outcome Variable'],axis=1)
x_train, x_test, y1_train, y1_test=train_test_split(x, y, test_size=0.2, random_state=42)

In [96]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(x_train, y1_train)
y_pred = model.predict(x_test)
accuracy_score(y_pred,y1_test)

0.7857142857142857

In [97]:
model = LinearRegression()
model.fit(x_train, y1_train)
y_pred = model.predict(x_test)
coefficients = model.coef_
intercept = model.intercept_
for feature, coefficient in zip(X.columns, coefficients):
    print(f"Feature: {feature}, Coefficient: {coefficient}")

Feature: Disease, Coefficient: 0.0005919735924105655
Feature: Fever, Coefficient: 0.049297533129543374
Feature: Cough, Coefficient: -0.02069281178323937
Feature: Fatigue, Coefficient: 0.0471484727717574
Feature: Difficulty Breathing, Coefficient: 0.032518236118259145
Feature: Age, Coefficient: -0.001673202147826402
Feature: Gender, Coefficient: -0.06346611354868972
Feature: Blood Pressure, Coefficient: -0.011462275507464259
Feature: Cholesterol Level, Coefficient: -0.09824981472733299

In [98]:
accuracy_score(y1_pred,y1_test)

0.7142857142857143

In [99]:
data2.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable',
       'Fever_No', 'Fever_Yes', 'Cough_No', 'Cough_Yes', 'Fatigue_No',
       'Fatigue_Yes', 'Difficulty Breathing_No', 'Difficulty Breathing_Yes',
       'Gender_Female', 'Gender_Male', 'Blood Pressure_High',
       'Blood Pressure_Low', 'Blood Pressure_Normal', 'Cholesterol Level_High',
       'Cholesterol Level_Low', 'Cholesterol Level_Normal'],
      dtype='object')

In [8]:
data2=data2.drop(['Fever_No', 'Cough_No','Fatigue_No','Difficulty Breathing_No','Gender_Female','Blood Pressure_High','Cholesterol Level_High'],axis=1)

In [9]:
data2.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable',
       'Fever_Yes', 'Cough_Yes', 'Fatigue_Yes', 'Difficulty Breathing_Yes',
       'Gender_Male', 'Blood Pressure_Low', 'Blood Pressure_Normal',
       'Cholesterol Level_Low', 'Cholesterol Level_Normal'],
      dtype='object')

In [10]:
data2=data2.drop(['Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level',],axis=1)

In [11]:
data2.columns

Index(['Disease', 'Outcome Variable', 'Fever_Yes', 'Cough_Yes', 'Fatigue_Yes',
       'Difficulty Breathing_Yes', 'Gender_Male', 'Blood Pressure_Low',
       'Blood Pressure_Normal', 'Cholesterol Level_Low',
       'Cholesterol Level_Normal'],
      dtype='object')

In [106]:
y=data2['Outcome Variable']
x=data2.drop(['Outcome Variable'],axis=1)
x_train, x_test, y1_train, y1_test=train_test_split(x, y, test_size=0.2, random_state=42)

In [107]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(x_train, y1_train)
y_pred = model.predict(x_test)
accuracy_score(y_pred,y1_test)

0.7428571428571429

In [17]:
h2o.init()
hf = h2o.H2OFrame(data2)
train, test = hf.split_frame(ratios=[0.8], seed=123)
automl = H2OAutoML(max_runtime_secs=360)  # Set the maximum runtime for AutoML in seconds
automl.train(y="Outcome Variable", training_frame=train)
leaderboard = automl.leaderboard
print(leaderboard)
best_model = automl.leader
predictions = best_model.predict(test)
r2_value = best_model.r2()
print("R-squared value:", r2_value)
predictions_df = predictions.as_data_frame()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.371-b11, mixed mode)
  Starting server from C:\Users\dobri\anaconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\dobri\AppData\Local\Temp\tmp_bp624e6
  JVM stdout: C:\Users\dobri\AppData\Local\Temp\tmp_bp624e6\h2o_dobri_started_from_python.out
  JVM stderr: C:\Users\dobri\AppData\Local\Temp\tmp_bp624e6\h2o_dobri_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is (3 months and 29 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  -----------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.4
H2O_cluster_version_age:    3 months and 29 days
H2O_cluster_name:           H2O_from_python_dobri_sai1ty
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.490 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.13 final
--------------------------  -----------------------------

Parse progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| (done) 100%
AutoML progress: |
00:49:10.767: AutoML: XGBoost is not available; skipping it.

â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| (done) 100%
model_id                                                     auc    logloss     aucpr    mean_per_class_error      rmse       mse
StackedEnsemble_BestOfFamily_5_AutoML_1_20230827_04910  0.833352   0.512435  0.823848                0.230194  0.406158  0.164964
StackedEnsemble_BestOfFamily_7_AutoML_1_20230827_04910  0.826585   0.523255  0.811121                0.238776  0.410754  0.168719
DeepLearning_grid_2_AutoML_1_20230827_04910_model_4     0.825484   1.34232   0.823957                0.248515  0.466663  0.217774
StackedEnsemble_AllModels_6_AutoML_1_20230827_04910     0.821028   0.514937  0.840123                0.263369  0.417292  0.174132
DeepLearning_grid_2_AutoML_1_20230827_04910_model_2     0.819515   0.631758  0.808032                0.277784  0.424762  0.180423
DeepLearning_grid_2_AutoML_1_20230827_04910_model_1     0.818469   0.762666  0.816345                0.291868  0.437348  0.191273
StackedEnsemble_BestOfFamily_4_AutoML_1_20230827_04910  0.815719   0.542605  0.811986                0.240757  0.418081  0.174792
StackedEnsemble_AllModels_4_AutoML_1_20230827_04910     0.815664   0.534028  0.803737                0.250495  0.419888  0.176306
GBM_grid_1_AutoML_1_20230827_04910_model_20             0.812528   0.533348  0.838984                0.288787  0.424221  0.179964
DeepLearning_grid_1_AutoML_1_20230827_04910_model_14    0.8114     1.88113   0.79803                 0.25088   0.459056  0.210732
[91 rows x 7 columns]

stackedensemble prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| (done) 100%
R-squared value: 0.6611864888040211

In [ ]:
h2o.cluster().shutdown()

In [13]:
data3=pd.read_csv('dataset.csv')

In [14]:
data3

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [36]:
data2['Outcome Variable'] = data2['Outcome Variable'].astype('category')

In [15]:
data2['Outcome Variable'] = data3['Outcome Variable']

In [16]:
data2

,Disease,Outcome Variable,Fever_Yes,Cough_Yes,Fatigue_Yes,Difficulty Breathing_Yes,Gender_Male,Blood Pressure_Low,Blood Pressure_Normal,Cholesterol Level_Low,Cholesterol Level_Normal
0,56,Positive,1,0,1,1,0,1,0,0,1
1,24,Negative,0,1,1,0,0,0,1,0,1
2,37,Negative,0,1,1,0,0,0,1,0,1
3,6,Positive,1,1,0,1,1,0,1,0,1
4,6,Positive,1,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
344,101,Positive,1,0,1,0,0,0,0,0,0
345,101,Positive,1,0,1,0,1,0,0,0,0
346,101,Positive,1,0,1,0,1,0,0,0,0
347,101,Positive,1,0,1,0,0,0,0,0,0
348,101,Positive,1,0,1,0,0,0,0,0,0

In [141]:

from xgboost import XGBClassifier  # For classification tasks
# from xgboost import XGBRegressor  # For regression tasks
from sklearn.metrics import accuracy_score  # For classification tasks
# from sklearn.metrics import mean_squared_error  # For regression task

In [19]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,56,1,0,1,1,0,0,1,2,1
1,24,0,1,1,0,1,0,2,2,0
2,37,0,1,1,0,1,0,2,2,0
3,6,1,1,0,1,1,1,2,2,1
4,6,1,1,0,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0,1
345,101,1,0,1,0,24,1,0,0,1
346,101,1,0,1,0,24,1,0,0,1
347,101,1,0,1,0,25,0,0,0,1
348,101,1,0,1,0,25,0,0,0,1

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [47]:
model = XGBClassifier()  # For classification tasks
# model = XGBRegressor()  # For regression tasks
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_pred,y_test)

0.8

In [42]:
data2

,Disease,Outcome Variable,Fever_Yes,Cough_Yes,Fatigue_Yes,Difficulty Breathing_Yes,Gender_Male,Blood Pressure_Low,Blood Pressure_Normal,Cholesterol Level_Low,Cholesterol Level_Normal
0,56,1,1,0,1,1,0,1,0,0,1
1,24,0,0,1,1,0,0,0,1,0,1
2,37,0,0,1,1,0,0,0,1,0,1
3,6,1,1,1,0,1,1,0,1,0,1
4,6,1,1,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
344,101,1,1,0,1,0,0,0,0,0,0
345,101,1,1,0,1,0,1,0,0,0,0
346,101,1,1,0,1,0,1,0,0,0,0
347,101,1,1,0,1,0,0,0,0,0,0
348,101,1,1,0,1,0,0,0,0,0,0

In [36]:
data2['Outcome Variable']=le.fit_transform(data2['Outcome Variable'])

In [108]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,56,1,0,1,1,0,0,1,2,1
1,24,0,1,1,0,1,0,2,2,0
2,37,0,1,1,0,1,0,2,2,0
3,6,1,1,0,1,1,1,2,2,1
4,6,1,1,0,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0,1
345,101,1,0,1,0,24,1,0,0,1
346,101,1,0,1,0,24,1,0,0,1
347,101,1,0,1,0,25,0,0,0,1
348,101,1,0,1,0,25,0,0,0,1

In [109]:
Y=data['Outcome Variable']
X=data.drop(['Outcome Variable'],axis=1)

In [110]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_pred,y_test)

0.6571428571428571

In [114]:
selector1 = SelectKBest(f_regression, k=5)
X_selected = selector1.fit_transform(X_train,y_train)
selected_features1 = selector1.get_support()

In [115]:
selected_features1

array([ True,  True,  True,  True,  True])

In [86]:
data2.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable'],
      dtype='object')

In [87]:
X.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level'],
      dtype='object')

In [88]:
for element1, element2 in zip(selected_features1, X.columns):
    if not selected_features1[element1].any():
        X = X.drop([element2], axis=1)

In [113]:
X

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level
0,56,1,0,1,1,0,0,1,2
1,24,0,1,1,0,1,0,2,2
2,37,0,1,1,0,1,0,2,2
3,6,1,1,0,1,1,1,2,2
4,6,1,1,0,1,1,1,2,2
...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,23,0,0,0
345,101,1,0,1,0,24,1,0,0
346,101,1,0,1,0,24,1,0,0
347,101,1,0,1,0,25,0,0,0
348,101,1,0,1,0,25,0,0,0

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [119]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy_score(y_pred,y_test)

0.7857142857142857

In [120]:
data2

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive